<div class="eleven columns alpha">
    <a class="maximize" href="javascript: void(0)" target="_blank">
        <img class="feature scale-with-grid" title="{{ title }}" />
    </a>
    <div class="thumbs"></div>
</div>

<div class="five columns omega">
    <div class="info">
        <h4 class="title">
            <a href="{{ url }}" target="_blank">{{ title }}</a>
        </h4>
        <div class="votes-wrap"><div class="votes">{{ votes }}</div>votes</div>
        <input class="urlBox" type="text" value="{{ url }}" />
        <div class="clearfix"></div>

        <ul class="footer">
            <li><a class="maximize" href="javascript: void(0)" target="_blank">maximize image</a></li>
            <li><a href="{{ redditURL }}"
                   target="_blank">view on reddit</a></li>
            <li><a href="{{ url }}" target="_blank">raw image</a></li>
            <li class="more">
                <a href="{{ app.basePath }}/more?url={{ url }}">show similar images</a>
                <img class="loading" src="{{ app.basePath }}/images/loading.gif" alt="loading" />
            </li>
        </ul>
    </div>
</div>
