<div class="row">
    <div class="twelve columns alpha">
        <a href="{{ url }}" target="_blank">
            <img class="scale-with-grid" title="{{& title }}" />
        </a>
    </div>
    <div class="four columns omega">
        <div class="info">
            <h4 class="title">
                <a href="{{ url }}" target="_blank">{{ title }}</a>
            </h4>
            <div class="votes-wrap"><div class="votes">{{ votes }}</div>votes</div>

            <div class="clearfix"></div>
            <ul class="footer">
                <input class="urlBox" type="text" value="{{ url }}" />
                <li><a href="javascript: void(0)">maximize image</a></li>
                <li><a href="{{ redditURL }}" 
                       target="_blank">view on reddit</a></li>
            </ul>
        </div>
    </div>
</div>
