[submodule "modules/backbone"]
	path = modules/backbone
	url = https://github.com/documentcloud/backbone
[submodule "modules/underscore"]
	path = modules/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "modules/zepto"]
	path = modules/zepto
	url = https://github.com/madrobby/zepto.git
[submodule "modules/text"]
	path = modules/text
	url = https://github.com/requirejs/text.git
[submodule "modules/skeleton"]
	path = modules/skeleton
	url = https://github.com/dhgamache/Skeleton.git
