body, html {

    margin: 0;
}

body {

    padding: 20px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

h1 {

    font-size: 1.5em;
    margin: 0 0 20px 0;
    padding: 0;
}

label {

    font-size: 0.8em;
    color: #999;
}

input {

    border: 1px solid #999;
    margin: 5px 5px 0 0;
    padding: 10px;
}

input.error {

    border-color: red;
}


#feed {

    margin-top: 40px;
}

#feed img {

    margin-bottom: 20px;
}

#feed .loading {

    height: 100px;
}
