extends layout

block content
    h2 The subreddit #{subreddit} doesn't exist. 
    h3 Try one of these popular ones:
    ul
        li
            a(href='/r/aww') aww
        li
            a(href='/r/pics') pics
        li
            a(href='/r/reactiongifs') reactiongifs
