!!! 5
html
    head
        meta(charset='UTF-8')
        meta(name='description', content='Reddit Pipeline is the fast, mouse-free way to browse image subreddits.')

        meta(property='fb:admins', content='1471184996')
        meta(property='fb:app_id', content='510514888967929')
        meta(property='og:url', content='http://reddpipe.com/')
        meta(property='og:title', content='Reddit Pipeline')
        meta(property='og:image', content='/images/icon.jpg')
        meta(property='og:type', content='website')
        meta(property='og:description', content='The fast, mouse-free way to browse image subreddits.')

        title Reddit Pipeline

        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='stylesheet', type='text/css', href='/css/pipeline.css')
        block stylesheets

        if production
            script(src='/js/pipeline.js')
        else
            script(data-main='/js/src/pipeline.js', src='/js/require.js')

        block scripts
    body
        block body
