@mixin header {
    #header {
        #logo-bar {
            background-color: #f8f8f8;
            padding: 8px 0 4px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;

            .title {
                font-family: 'Droid Serif', serif;
                font-size: 1.3em;
                margin: 0;
                padding: 0;
            }

            .description {
                font-size: 0.9em;
                padding: 0;
            }

            .fb-like {
                float: right;
                margin: 7px 0;
            }

            @media only screen and (max-width: 479px) {
                .title {
                    font-size: 1.6em;
                }
                .description {
                    display: none;
                }
            }
        }

        .settings.row {
            input, label, .brackets {
                vertical-align: middle;
            }

            input {
                margin-right: 10px;
            }

            label {
                margin-right: 6px;
                display: inline;
                font-weight: normal;
                font-size: inherit;
            }

            .brackets {
                color: #999;
                font-size: 0.9em;
                cursor: pointer;

                a {
                    text-decoration: none;
                }

                &:before {
                    content: '(';
                }

                &:after {
                    content: ')';
                }
            }

            #configure-area-wrap {
                height: 0;
                overflow: hidden;
            }

            #configure-area {
                background-color: #f8f8f8;
                padding: 15px;
                margin-top: 10px;
                font-size: 0.9em;
                width: 300px;

                .setting {
                    overflow: auto;
                    margin-bottom: 5px;

                    .title {
                        display: inline-block;
                        float: left;
                        line-height: 32px;
                    }

                    .keys {
                        float: right;

                        kbd {
                            background: #fff;
                            border: 1px solid #d3d3d3;
                            border-bottom-color: #bbb;
                            color: #616161;
                            display: inline-block;
                            font-weight: bold;
                            margin: 0 5px 3px 0;
                            padding: 3px 7px;
                            cursor: default;

                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
                            -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                } // .setting

                @media only screen and (max-width: 479px) {
                    width: auto;
                }
            } // #configure-area

            @media only screen and (max-width: 767px) {
                margin: 0;

                .configure-hotkeys {
                    width: auto;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        #header #logo-bar {
            padding-bottom: 0;

            .omega .fb-like {
                float: none;
            }
        }
    }
}
