@import 'mixins';

@mixin image {

    .image.row {

        @include offset;

        .feature {

            float: right;
        }

        .loading {

            vertical-align: middle;
            margin-left: 5px;
            display: none;
        }

        .info {

            @media only screen and (max-width: 767px) {

                & {

                    padding: 0 1em;
                }
            }

            .title {

                line-height: 1.3em;
                margin: 1em 0;

                &, a {

                    color: #222;
                }
            }

            .votes-wrap {

                float: left;
                text-align: center;

                .votes {

                    font-size: 1.4em;
                }
            }

            .footer {

                margin-top: 2em;

                .urlBox {

                    width: 160px;
                }

                li {

                    margin-bottom: 0.3em;

                    a {

                        color: #222;
                    }
                }
            }
        }
    }
}
