@mixin offset {

    background-color: #fff;
    box-shadow: 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px #aaa;
    -moz-box-shadow: 1px 1px 1px #aaa;
}

@mixin no-offset {

    background-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
