@import 'image';

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-neue.ttf');
    src: url('../fonts/helvetica-neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4 {

    line-height: normal;
    padding: 0;
    margin: 0;
}

body, h1, h2, h3 {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {

    background-color: #f0eee9;
    color: #555;
}

h1 {

    font-size: 2.5em;
}

h2 {

    font-size: 2.2em;
}

h3 {

    font-size: 1.6em;
}

h4 {

    font-size: 1.4em;
    font-family: 'MuseoSlabRegular', serif;
}

a {

    text-decoration: none;
    &:hover {

        text-decoration: underline;
    }
}

body {

    padding-top: 2em;
}

.container {

    .title {

        margin: 0 0 0.05em 0;
        padding: 0;
    }

    .description {

        font-size: 1.3em;
        margin: 0 0 2em 0;
        padding: 0;
    }

    .most-pipelined {

        margin-bottom: 2em;

        li {

            display: inline;
            margin-right: 0.5em;
            font-size: 1.2em;
        }
    }

    #pipeline {

        @include image;
    }
}
