@import 'mixins';
@import 'message';
@import 'thumbs';
@import 'image';

// TODO: Add the commented-out font formats.
@font-face {

    font-family: 'Helvetica Neue';
    src: url('../fonts/helvetica-neue.eot');
    src: url('../fonts/helvetica-neue.eot?iefix') format('eot'),
         url('../fonts/helvetica-neue.woff') format('woff'),
         url('../fonts/helvetica-neue.ttf') format('truetype');
         // url('../fonts/helvetica-neue.svg') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@font-face {

    font-family: 'Helvetica Neue Light';
    src: url('../fonts/helvetica-neue-light.eot');
    src: url('../fonts/helvetica-neue-light.eot?iefix') format('eot'),
         // url('../fonts/helvetica-neue-light.woff') format('woff'),
         url('../fonts/helvetica-neue-light.ttf') format('truetype');
         // url('../fonts/helvetica-neue-light.svg') format('svg');
    font-weight: normal;
    font-style: normal; 
}

h1, h2, h3, h4 {

    line-height: normal;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {

    font-family: 'Helvetica Neue Light', sans-serif;
}

body {

    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f0eee9;
    color: #555;
}

h1 {

    font-size: 1.8em;
}

h2 {

    font-size: 2.2em;
}

h3 {

    font-size: 1.6em;
    margin-bottom: 0.3em;
}

h4 {

    font-size: 1.3em;
    font-family: 'Droid Serif', serif;
}

a {

    text-decoration: none;
    color: #3987cb;

    &:hover {

        color: #3987cb;
        text-decoration: underline;
    }

    &:visited {

        color: #3987cb;
    }
}

a.disabled {

    color: #999;

    &:hover {

        text-decoration: none;
        cursor: default;
    }
}

#header {

    background-color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;

    .title {

        margin: 0;
        padding: 0;
    }

    .description {

        font-size: 1em;
        margin: -0.2em 0;
        padding: 0;
    }
}


.container {

    .omega {
        margin-left: 0;

        .info {
            padding: 20px;
            padding-top: 0;
        }
    }

    .most-pipelined {

        margin-bottom: 1.3em;
        overflow: auto;

        li {

            font-family: 'Helvetica Neue Light', sans-serif;
            display: inline;
            margin: 0 0.5em 0 0;
            font-size: 1em;
            float: left;
        }
    }

    .search {

        width: 190px;
        float: left;
        position: relative;

        .subreddit {

            display: inline;
            margin: 0;

        }

        input[type="submit"] {

            background: url("../images/search-sprite.png") no-repeat 0 9px;
            width: 20px;
            height: 100%;
            border: none;
            margin: 0;

            color: transparent;
            font-size: 0;

            position: absolute;
            right: 0;
            top: 0;

            &:hover {

                background-position: -20px 9px;
            }
        }
    }
    
    @media only screen and (max-width: 767px) {
        .top.row {
            .alpha {
                display: none;
            }

            .info {
                padding: 0;
            }

            .search {
                width: 100%;
                .subreddit-wrap {
                    margin-right: 10px;
                    .subreddit {
                        width: 100%;
                    }
                }
            }
        }
    }
}

#pipeline {

    clear: left;

    @include message;
    @include thumbs;
    @include image;
}
