@mixin thumbs {

    .thumbs.row {

        a {

            &:hover {

                text-decoration: none;
            }

            img {

                background-color: #fff;
                padding: 3px;

                box-shadow: 1px 1px 1px #999;
                -webkit-box-shadow: 1px 1px 1px #999;
                -moz-box-shadow: 1px 1px 1px #999;

                border-radius: 2px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
            }
        }
    }
}
