/* TODO: Use LESS. */

body, html {

    margin: 0;
}

body {

    padding: 40px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {

    margin: 0;
    padding: 0;
}

h1 {

    font-size: 1.5em;
    margin-bottom: 20px;
}

label {

    font-size: 0.8em;
    color: #999;
}

input {

    border: 1px solid #999;
    margin: 5px 5px 0 0;
    padding: 10px;
}

input.error {

    border-color: red;
}


#feed {

    margin-top: 40px;
}

#feed .image-wrap {

    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#feed .image-wrap img {

    margin-bottom: 10px;
}

#feed .image-wrap a {

    color: #777;
    font-size: 0.7em;
    text-decoration: none;
}

#feed .image-wrap a:hover {

    border-bottom: 1px solid #777;
}

#feed .title {

    font-size: 1.2em;
}

#feed .loading {

    height: 100px;
}
