<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Reddit Pipeline</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pipeline.css') }}" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" />
        <script>var appRoot = '{{ request.headers['X-SCRIPT-NAME'] }}';</script>
        <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
        <script src="{{ url_for('static', filename='lib/mustache.min.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        <script src="{{ url_for('static', filename='feed.js') }}"></script>
        <script src="{{ url_for('static', filename='pipeline.js') }}"></script>
        <script src="{{ url_for('static', filename='analytics.js') }}"></script>
    </head>

    <body>
        <div id="feed-wrap">
            <h1>Reddit Pipeline</h1>

            <p>Enter a subreddit</p>
            <p>
                {%- if subreddits -%}
                    Most Pipelined —
                {%- endif -%}
                {% for subreddit in subreddits %}
                    <span class="count-tag">
                        <a href="{{ url_for('index', name=subreddit['name']) }}">{{ subreddit['name'] }}</a>
                        <span>{{ subreddit['hits'] }}</span>
                    </span>
                {% endfor %}
            </p>
            <form class="settings" action="">
                <input class="subreddit-field" type="text" value="{{ name }}" />
                <input class="load-subreddit" type="submit" value="GO!" />
            </form>

            <div class="feed"></div>
        </div>

        <script id="tmpl-image-wrap" type="text/tmpl">
            <div class="image-wrap">
                <h2 class="title">{{ '{{title}}' }}</h2>
                <a href="{{ '{{link}}' }}" target="_blank">view on reddit</a>
            </div>
        </script>

    </body>
</html>

