<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <meta property="og:title" content="Reddit Pipeline" />
        <meta property="og:image" content="http://reddpipe.com{{ url_for('static', filename="images/icon.jpg") }}" />
        <meta property="og:description" content="The fast, mouse-free way to browse image subreddits." />

        <title>Reddit Pipeline</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pipeline.css') }}" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" />

        <script>var appRoot = '{{ request.headers['X-SCRIPT-NAME'] }}';</script>
        <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
        <script src="{{ url_for('static', filename='lib/mustache.min.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        <script src="{{ url_for('static', filename='feed.js') }}"></script>
        <script src="{{ url_for('static', filename='pipeline.js') }}"></script>
        <script src="{{ url_for('static', filename='analytics.js') }}"></script>
    </head>

    <body>


        <div id="feed-wrap">

            <div class="header">
                <div class="like-wrap">
                    <iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Freddpipe.com&amp;send=false&amp;layout=box_count&amp;width=55&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=510514888967929" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe>
                </div>

                <div class="title">
                    <h1>Reddit Pipeline</h1>
                    <h2>The fast, mouse-free way to browse image subreddits.</h2>
                </div>
            </div>

            <p>
                Navigate — left/right arrows<br />
                Maximize image — press c<br />
                Maximize image with caption — press shift + c<br />
                Select image URL — press v<br />
            </p>
            <p class="most-searched">
                {%- if subreddits -%}
                    Most Pipelined subreddits —
                {%- endif -%}
                {% for subreddit in subreddits %}
                    <span class="count-tag">
                        <a href="{{ url_for('index', name=subreddit['name']) }}">{{ subreddit['name'] }}</a>
                        <span>{{ subreddit['hits'] }}</span>
                    </span>
                {% endfor %}
            </p>
            <form class="settings" action="">
                <input class="subreddit-field" type="text" value="{{ name }}" />
                <input class="load-subreddit" type="submit" value="GO!" />
            </form>

            <div class="feed"></div>
        </div>

        <script id="tmpl-image-wrap" type="text/tmpl">
            <div class="image-wrap">
                <a class="image shadow showModal" href="javascript: void(0)" target="_blank"></a>
                <h2 class="title">{{ '{{title}}' }}</h2>
                <input class="copy-link" type="text" value="{{ '{{url}}' }}" />
                <div class="buttons">
                    <a href="{{ '{{link}}' }}" target="_blank">view on reddit</a>
                    <a class="showModal" href="javascript: void(0)">maximize (press c)</a>
                    <a href="{{ '{{url}}' }}" target="_blank">raw image</a>
                </div>
            </div>
        </script>

        <script id="tmpl-overlay" type="text/tmpl">
            <div class="overlay">
                <div class="image-wrap">
                    <h1 class="caption"></h1>
                </div>
            </div>
        </script>
    </body>
</html>
